// 优化显示

html, body {
  margin: 0px;
  height: 100%;
  background-color: $color-bg;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  #app {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}

pre {
  margin: 0px;
  border-radius: 4px;
}

a {
  text-decoration: none;
}