// 优化显示

html, body {
  margin: 0px;
  height: 100%;
  background-color: $color-bg;
  #app {
    height: 100%;
  }
}

pre {
  margin: 0px;
  border-radius: $border-radius;
}

a {
  text-decoration: none;
}