// element 样式补丁

.el-card {
  box-shadow: none;
  &:hover {
    // box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
    box-shadow: none;
  }
}

.el-menu--horizontal {
  border-bottom: none;
}