@import '~@/assets/style/public.scss';

@import './theme-dd-container-full.scss';

$theme-color: #EFF4F8;

// 主题公用
.theme {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  // [布局] 顶栏
  .el-header {
    padding: 0px;
    // logo区域
    .logo-group {
      transition: width .3s;
      float: left;
      text-align: center;
      img {
        height: 60px;
      }
    }
    // 折叠侧边栏切换按钮
    .toggle-aside-btn {
      float: left;
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: pointer;
      i {
        font-size: 20px;
        margin-top: 4px;
      }
    }
    // [菜单] 顶栏
    .el-menu {
      float: left;
      border-bottom: none;
      background-color: transparent;
      .el-menu-item {
        border-bottom: none;
        border-top: 2px solid transparent;
        &.is-active {
          border-bottom: none;
          border-top-color: $color-primary;
          background-color: transparent;
        }
      }
    }
    // 顶栏右侧的按钮
    .btn-group {
      float: right;
      height: 60px;
      display: flex;
      align-items: center;
      .btn-text {
        color: $color-text-normal;
      }
      .el-dropdown {
        user-select: none;
        cursor: pointer;
      }
    }
  }
  // [布局] 顶栏下面
  .el-container {
    // 侧边栏
    .el-aside {
      transition: width .3s;
      overflow: inherit;
      // 空菜单
      .dd-side-menu-empty {
        background-color: rgba(#000, .03);
        margin: $margin;
        margin-top: 0px;
        border-radius: 4px;
        line-height: 100px;
        text-align: center;
        color: $color-text-sub;
      }
      // [菜单] 正常状态
      .el-menu {
        background-color: transparent;
        border-right: none;
        .el-submenu__title {
          &:hover {
            background-color: rgba(#000, .05);
          }
        }
      }
      // [菜单] 折叠状态
      .el-menu--collapse {
        background-color: transparent;
        .el-submenu__title {
          text-align: center;
        }
      }
    }
    .el-main {
      padding: 0px;
      position: relative;
      overflow: hidden;
    }
  }
}
