@import '~@/assets/style/unit/_color.scss';
@import '~@/assets/style/unit/_size.scss';

// 禁止用户选中 鼠标变为手形
%unable-select {
  user-select: none;
  cursor: pointer;
}

%card {
  border: 1px solid #dddee1;
  border-color: #e9eaec;
  background: #fff;
  border-radius: $border-radius;
  font-size: 14px;
  position: relative;
}