@import 'public';

// 补丁 base
@import '~@/assets/style/fixed/base.scss';
// 补丁 element
@import '~@/assets/style/fixed/element.scss';
// 补丁 markdown
@import '~@/assets/style/fixed/markdown.scss';
// 补丁 vue-splitpane
@import '~@/assets/style/fixed/vue-splitpane.scss';
// 补丁 vue-grid-layout
@import '~@/assets/style/fixed/vue-grid-layout.scss';

// 在这里写公用的class
// 注意 这个文件里只写class
// mixin等内容请在 public.scss 里书写


// 浮动相关
.#{$prefix}-fl {
  float: left;
}
.#{$prefix}-fr {
  float: right;
}
.#{$prefix}-clearfix:before,
.#{$prefix}-clearfix:after {
  display: table;
  content: "";
}
.#{$prefix}-clearfix:after {
  clear: both
}

// 边距相关
.#{$prefix}-m {
  margin: $margin;
}
.#{$prefix}-mt {
  margin-top: $margin;
}
.#{$prefix}-mr {
  margin-right: $margin;
}
.#{$prefix}-mb {
  margin-bottom: $margin;
}
.#{$prefix}-ml {
  margin-left: $margin;
}

.#{$prefix}-m-0 {
  margin: 0px;
}
.#{$prefix}-mt-0 {
  margin-top: 0px;
}
.#{$prefix}-mr-0 {
  margin-right: 0px;
}
.#{$prefix}-mb-0 {
  margin-bottom: 0px;
}
.#{$prefix}-ml-0 {
  margin-left: 0px;
}
