<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>icon.ico">
    <title><%= VUE_APP_TITLE %></title>
    <script>
      // 感谢您使用 D2Admin
      // D2Admin 完全开源免费，并且长期更新维护
      // 下面的百度统计代码不会拖慢您的应用速度也不会占用多少网络带宽，我们只是想统计一下我们的用户量
      // 所以希望您不要删除我们的统计代码，让我们知道有更多人的在使用，给我们继续开发的动力
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?20b202d9b1189c9352fc3e8c92c215fc";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but d2-admin-start-kit-cli3 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    is-mobile
  </body>
</html>
