.contextmenu-pad {
  height: 300px;
  background-color: $color-bg;
  border: 1px solid $color-border-1;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: $color-info;
}
.contextmenu-icon {
  font-size: 16px;
}