@import '~@/assets/style/public.scss';
@import './setting.scss';
@import '../theme.scss';

.theme-#{$theme-name} {

  // 背景图片和遮罩
  .layout-main-group {
    background: #bc00e3;
    background: linear-gradient(120deg, #bc00e3 0%, #4EFFFB 100%);
    .layout-main-mask {
      background-color: $theme-bg-mask;
    }
  }
}