@import '../theme.scss';

$theme-name: 'star';
$theme-bg-color: #EFF4F8;
$theme-bg-image: '/static/image/bg/star.jpg';
$theme-container-full-border-color: #d8dfea;

.theme-#{$theme-name} {
  background-color: $theme-bg-color;
  background-image: url($theme-bg-image);
  // [组件] dd-container-full
  .dd-container-full {
    .dd-container-full__header {
      border-bottom: 1px solid $theme-container-full-border-color;
    }
    .dd-container-full__footer {
      border-top: 1px solid $theme-container-full-border-color;
    }
  }
  // 顶栏
  .el-header {
    // 切换按钮
    .toggle-aside-btn {
      i {
        color: #FFF;
        &:hover {
          color: #FFF;
        }
      }
    }
    @mixin header-el-menu-item {
      background-color: transparent;
      background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.00) 90%);
      border-top-color: rgba(0, 0, 0, 0.6);
    }
    // 顶栏菜单
    .el-menu {
      .el-menu-item {
        transition: border-top-color 0s;
        color: #FFF;
        &:hover {
          @include header-el-menu-item;
        }
        &.is-active {
          border-top-color: #FFF;
        }
      }
      .el-submenu {
        .el-submenu__title {
          transition: border-top-color 0s;
          color: #FFF;
          &:hover {
            @include header-el-menu-item;
          }
          .el-submenu__icon-arrow {
            color: #FFF;
          }
        }
      }
    }
    // 顶栏右侧
    .dd-header-right {
      .btn-text {
        color: #FFF;
      }
      .el-dropdown {
        .el-dropdown-link {
          color: #FFF;
        }
      }
    }
  }
  // [布局] 顶栏下面
  .el-container {
    // 侧边栏
    .el-aside {
      @mixin aside-el-menu-item {
        background-color: transparent;
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.00) 90%);
      }
      // [菜单] 正常状态
      .el-menu {
        .el-menu-item {
          color: #FFF;
          &:hover {
            @include aside-el-menu-item;
          }
          i {
            color: #FFF;
          }
        }
      }
      .el-submenu {
        .el-submenu__title {
          color: #FFF;
          &:hover {
            @include aside-el-menu-item;
          }
          i {
            color: #FFF;
          }
          .el-submenu__icon-arrow {
            color: #FFF;
          }
        }
      }
    }
  }
}