@import '../theme.scss';

// 主题名称
$theme-name: 'star';
// 主题背景颜色
$theme-bg-color: #EFF4F8;
// 主题背景图片
$theme-bg-image: '/static/image/bg/star.jpg';
// container组件的边框
$theme-container-border: 1px solid #d8dfea;

// 顶栏和侧边栏中展开的菜单 hover 状态下
$theme-menu-item-color-hover: #FFF;
$theme-menu-item-background-color-hover: #187181;

// 顶栏上的文字颜色
$theme-header-item-color: #FFF;
$theme-header-item-background-color: transparent;
// 顶栏上的项目在 hover 时
$theme-header-item-color-hover: #FFF;
$theme-header-item-background-color-hover: rgba(#FFF, .3);
// 顶栏上的项目在 focus 时
$theme-header-item-color-focus: #FFF;
$theme-header-item-background-color-focus: rgba(#FFF, .3);
// 顶栏上的项目在 active 时
$theme-header-item-color-active: #FFF;
$theme-header-item-background-color-active: rgba(#000, .3);

// 侧边栏上的文字颜色
$theme-aside-item-color: #FFF;
$theme-aside-item-background-color: transparent;
// 侧边栏上的项目在 hover 时
$theme-aside-item-color-hover: #FFF;
$theme-aside-item-background-color-hover: rgba(#FFF, .3);
// 侧边栏上的项目在 focus 时
$theme-aside-item-color-focus: #FFF;
$theme-aside-item-background-color-focus: rgba(#FFF, .3);
// 侧边栏上的项目在 active 时
$theme-aside-item-color-active: #FFF;
$theme-aside-item-background-color-active: rgba(#000, .3);

.theme-#{$theme-name} {

  .layout-main {
    background-color: $theme-bg-color;
    background-image: url($theme-bg-image);
    background-size: cover;
    background-position: center;
  }
  // 菜单项目
  @mixin theme-menu-hover-style {
    color: $theme-menu-item-color-hover;
    i {
      color: $theme-menu-item-color-hover;
    }
    background-color: $theme-menu-item-background-color-hover;
  }
  .el-submenu__title:hover {
    @include theme-menu-hover-style;
  }
  .el-menu-item:hover {
    @include theme-menu-hover-style;
  }
  .el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
    @include theme-menu-hover-style;
  }
  .el-menu--horizontal .el-menu .el-submenu__title:hover {
    @include theme-menu-hover-style;
  }

  // [组件] d2-container-full
  .d2-container-full {
    .d2-container-full__header {
      border-bottom: $theme-container-border;
    }
    .d2-container-full__footer {
      border-top: $theme-container-border;
    }
  }
  // [组件] d2-container-card
  .d2-container-card {
    border: $theme-container-border;
  }
  // 顶栏
  .el-header {
    // 切换按钮
    .toggle-aside-btn {
      i {
        color: $theme-header-item-color;
        background-color: $theme-header-item-background-color;
        &:hover {
          color: $theme-header-item-color-hover;
        }
      }
    }
    // 顶栏菜单
    .el-menu {
      .el-menu-item {
        transition: border-top-color 0s;
        color: $theme-header-item-color;
        background-color: $theme-header-item-background-color;
        &:hover {
          color: $theme-header-item-color-hover;
          background-color: $theme-header-item-background-color-hover;
        }
        &:focus {
          color: $theme-header-item-color-focus;
          background-color: $theme-header-item-background-color-focus;
        }
        &.is-active {
          color: $theme-header-item-color-active;
          background-color: $theme-header-item-background-color-active;
        }
      }
      .el-submenu {
        .el-submenu__title {
          transition: border-top-color 0s;
          color: $theme-header-item-color;
          background-color: $theme-header-item-background-color;
          .el-submenu__icon-arrow {
            color: $theme-header-item-color;
          }
          &:hover {
            color: $theme-header-item-color-hover;
            background-color: $theme-header-item-background-color-hover;
          }
          &:focus {
            color: $theme-header-item-color-focus;
            background-color: $theme-header-item-background-color-focus;
          }
        }
      }
    }
    // 顶栏右侧
    .d2-header-right {
      .btn-text {
        color: $theme-header-item-color;
        &.can-hover {
          &:hover {
            color: $theme-header-item-color-hover;
            background-color: $theme-header-item-background-color-hover;
          }
        }
      }
    }
  }
  // [布局] 顶栏下面
  .el-container {
    // 侧边栏
    .el-aside {
      // [菜单] 正常状态
      .el-menu {
        .el-menu-item {
          color: $theme-aside-item-color;
          background-color: $theme-aside-item-background-color;
          i {
            color: $theme-aside-item-color;
          }
          &:hover {
            color: $theme-aside-item-color-hover;
            background-color: $theme-aside-item-background-color-hover;
          }
          &:focus {
            color: $theme-aside-item-color-focus;
            background-color: $theme-aside-item-background-color-focus;
          }
          &.is-active {
            color: $theme-aside-item-color-active;
            background-color: $theme-aside-item-background-color-active;
          }
        }
      }
      .el-submenu {
        .el-submenu__title {
          color: $theme-aside-item-color;
          background-color: $theme-aside-item-background-color;
          i {
            color: $theme-aside-item-color;
          }
          .el-submenu__icon-arrow {
            color: $theme-aside-item-color;
          }
          &:hover {
            color: $theme-aside-item-color-hover;
            background-color: $theme-aside-item-background-color-hover;
          }
        }
      }
    }
  }
}